<!-- Name: David Gwyn
// Student #: 821 304 912
// Filename: index.ejs
// Date: 02/15/19 -->

<% include ~./partials/header.ejs %>

<div class="jumbotron" style="background:transparent">
  <h1 class="display-4">Mission Statement</h1>
  <p class="lead">
    Enjoy the journey while making a difference, hold to my values and beliefs,
    and help everyone around me be better than they thought they could be.
  </p>
  <hr class="my-4" />
  <p>For more information visit the links below.</p>
  <p class="lead">
    <a href="/about" class="badge badge-dark">About Me</a>
    <a href="/projects" class="badge badge-dark">Projects</a>
    <a href="/services" class="badge badge-dark">Services</a>
    <a href="/contact" class="badge badge-dark">Contact Me</a>
  </p>
</div>

<% include ~./partials/footer.ejs %>
