<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>David Gwyn Portfolio Website</title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="bootstrap//dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Contents/app.css" />
  </head>
  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/"
        ><img src="Assets\Images\DGF_Logo.png" alt="" style="width:50px;" />
      </a>

      <ul class="navbar-nav">
        <% if (title == "Home") { %>
        <li class="nav-item active">
          <% } else { %>
        </li>

        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/"
            ><i class="fa fa-lg fa-home"></i> HOME<span class="sr-only"
              >(current)</span
            ></a
          >
        </li>

        <% if (title == "About Me") { %>
        <li class="nav-item active">
          <% } else { %>
        </li>

        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/about"
            ><i class="fa fa-lg fa-info-circle"></i> ABOUT ME<span
              class="sr-only"
              >(current)</span
            ></a
          >
        </li>

        <% if (title == "Projects") { %>
        <li class="nav-item active">
          <% } else { %>
        </li>

        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/projects"
            ><i class="fa fa-lg fa-code"></i> PROJECTS<span class="sr-only"
              >(current)</span
            ></a
          >
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
          <% } else { %>
        </li>

        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/services"
            ><i class="fa fa-lg fa-cogs"></i> SERVICES<span class="sr-only"
              >(current)</span
            ></a
          >
        </li>

        <% if (title == "Contact Me") { %>
        <li class="nav-item active">
          <% } else { %>
        </li>

        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/contact"
            ><i class="fa fa-lg fa-address-card"></i> CONTACT ME<span
              class="sr-only"
              >(current)</span
            ></a
          >
        </li>
      </ul>
    </nav>

    <!-- Page Title -->
    <!-- <h1><%= title %></h1> -->

    <div class="jumbotron" style="background:transparent">
      <h1 class="display-4">Mission Statement</h1>
      <p class="lead">
        Enjoy the journey while making a difference, hold to my values and beliefs, and help everyone around 
        me be better than they thought they could be.
      </p>
      <hr class="my-4" />
      <p>For more information visit the links below.</p>
      <p class="lead">
        <a href="/about" class="badge badge-dark">About Me</a>
        <a href="/projects" class="badge badge-dark">Projects</a>
        <a href="/services" class="badge badge-dark">Services</a>
        <a href="/contact" class="badge badge-dark">Contact Me</a>
      </p>
    </div>

    <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>