<!-- Name: David Gwyn
// Student #: 821 304 912
// Filename: index.ejs
// Date: 02/15/19 -->

<% include ../partials/header.ejs %>

<div class="jumbotron" style="background:transparent">
  <table class="table table-borderless table-condensed">
    <tr>
      <td>
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="/Assets/Images/C_Sharp.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text" style="text-align: center">
              .NET Programming including C#, ASP .NET and ASP .NET Core.
            </p>
          </div>
        </div>
      </td>

      <td>
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="/Assets/Images/Full_Stack_Development.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text" style="text-align: center">
              Full Stack Development - Angular, Node JS, and Mongo DB.
            </p>
          </div>
        </div>
      </td>

      <td>
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="/Assets/Images/Networking_Server_Solutions.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text" style="text-align: center">
              Hardware, Software PC, Server, and Networking Solutions.
            </p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<% include ../partials/footer.ejs %>
