<!-- Name: David Gwyn
// Student #: 821 304 912
// Filename: index.ejs
// Date: 02/15/19 -->

<% include ../partials/header.ejs %>

<div class="jumbotron" style="background:transparent">
    <img src="/Assets/Images/david_gwyn.png" alt="..." class="img-thumbnail">
    <h2 class="display-4">David Gwyn</h2>
    <p class="lead">Highly accomplished technology savvy (IT) leader with an extensive background in Sales and Senior Management.  
    Proven ability to manage successful IT departments, technical support programs, and teams.  Consistent history of reducing costs, improving 
    efficiency, and increasing productivity.  Hands-on manager with the ability to lead, motivate and coordinate technical teams and projects.  
    Familiar with planning and supervising technology implementations and upgrades.  Adept at selection and purchase of hardware and software.  
    Able to work with end users to determine requirements.  Previous experience in designing and implementing corporate networks.  Ability to 
    bridge the gap between technical and non-technical personnel.  Excellent presentation and communication skills.</p>
    <a class="btn btn-dark" role="button" href="/Assets/david_gwyn_resume.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> View Resume</a>
</div>

<% include ../partials/footer.ejs %>